# ESA Origin 配置

site_id = 123456

record_name = "api-prod"

accelerate_domain = "api-prod.apple-app.cn"

nlb_dns_name = "apple-api-prod-nlb.alb.us-east-1.aliyuncs.com"

stack_name = ""

tags = {
  env  = "prod"
  arch = "esa"
}
